:root {
    /* color scheme */
    --primary-color: #5ECE7B;
    --secondary-color: #1D1F22;
    --tertiary-color: #A8ACB030;
    --out-of-stock-color: #8D8F9A;

    /* typography */
    --heading-main-size: 4.2rem;
    --text-standard-size: 1.6rem;
    --product-details-text: 1.8rem;
    --out-of-stock-text-size: 2.4rem;
}